/*--------------------------------------------*/
/*-------------  Styles généraux -------------*/
/*--------------------------------------------*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 20px;;
    font-family: 'Righteous', Helvetica, Arial, sans-serif;;
    overflow-x: hidden;
}


.introduction{
    background: url(../img/img_arriere_plan_optimisees/igloo_hiver.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: 50% 100%;
    color: white; 
    position: relative;
    
}

.intro-txt{
    position: absolute;
    top: 5vh;;
    left: 5vh;
    right: 5vh;
    z-index: 100;
}


.intro-txt h1{
    font-size: 5.5vw;;
    margin: 0;

    text-transform: uppercase;


}
.info-projet{
    font-size: 11px;
    font-weight: 300;
    position: absolute;
    bottom: 1vh;
    left: 5vh;
    right: 5vh;
    z-index: 100;
    text-align: center;;
    color: #0a263f;
}

ul.technique-gsap{
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 10px;
    font-family: monospace;
    font-weight: 400;
    width: auto;
    display: inline-block;
    padding: 10px 20px 12px 20px;
    margin: 0;
    max-width: 300px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

ul.technique-gsap li{
    margin: 5px 0;
}

/*--------------------------------------------*/
/*--------  Personnage principal -------------*/
/*--------------------------------------------*/

img.monstre{
    border: 3px solid rgba(0,0,0,0.2);
    max-width: 30vh;
    position: absolute;
}

.perso-monstre
{
    border: 3px solid rgba(0,0,0,0.2);
    width: 100%;
    max-width: 30vh;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 100;
}


div.perso-monstre.monstre-01
    {
    background-image:url('../img/img_personnages/monster_walk_spritesheet.png'); 
    /* note: ne pas mettre de no-reapt sur le background */
    background-position: 0 0;

    background-size: auto 100%;
    /* ou */
    background-size: 3700% 100%;  /*(37 image * 100%)*/

    /* si nécessaire, ajouter une aspect ratio : format image originale et ensutie https://andrew.hedges.name/experiments/aspect_ratio/ */
    aspect-ratio: 1/1;

    animation: monstrewalk 1.7s steps(37) infinite paused;
}


/* responsive animated sprite sheet : http://jsfiddle.net/gfpL8dzj/ */
body.is-scrolling div.perso-monstre.monstre-01
{
    animation-play-state: running;
 
}
@-webkit-keyframes monstrewalk {
    from {background-position: 0 0;}
    to {background-position: -3700% 0;}
}
@keyframes monstrewalk {
    from {background-position: 0 0;}
    to {background-position: -3700% 0;}
}
 /* 700px * 37 images = 25900px OU pour responsive: 37*100% de largeur = 3700% */





.chapitre .monstre{
    position: absolute;
}



/*--------------------------------------------*/
/*-----  Autres personnages et éléments -------*/
/*--------------------------------------------*/

.orignal{
    position: absolute;
    bottom: -10%;
    left: -50%;
}

/* Intro */

.introduction .souris {
	width: 50px;
	height: 90px;
	border: 3px solid #0a263f;
	border-radius: 60px;
	position: absolute;
    bottom: 90px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);

}

.introduction .souris:before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0a263f;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: roulette 2s infinite;
}

@keyframes roulette {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes roulette {
	to {
		opacity: 0;
		top: 60px;
	}
}

/* chapitre 3 */


.nuage{
    position: absolute;
    top: 10vh;
    left: 0vw;
}

.nuage.nuage1{
    top: 50vh;
    left: 50vw;
}

/* chapitre 4 */
.paysage-arc,
#motionpath-arc{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 4;
    height: 100vh;
}
.paysage-arc{
    object-fit: cover;
    object-position: 0% 0%;
}

#motionpath-arc{
    z-index: 7;
}

.orignal{
    position: absolute;
    left: 10vw;
    top: 70vh; 
    z-index: 10;
    width:10vw;
}

.hyene{
    position: absolute;
    left: 8vw;
    top: 50vh; 
    z-index: 10;
    width:10vw;
    border: 1px solid red;
}


/* chapitre 7 */

#svg-baleine{
    top: -20vh;
    width: 80vw;
   
    position: absolute;
}
.path-baleine{
    stroke: white;
}

/* chapitre 8 */
#svg-pieuvre{
    width: 30vw;
    left: 30vw;
    top: 10vh;
    position: absolute;
}



/*--------------------------------------------*/
/*----------------  Chapitres ----------------*/
/*--------------------------------------------*/
section{
 padding: 0; 
 margin: 0;
}

.chapitre, .introduction{
    position: relative;
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
    overflow: hidden;
}



#chapitre1{
    background: url(../img/img_arriere_plan_optimisees/champs_hiver_pente.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: 50% 100%;
}

#chapitre2{
    background: url(../img/img_arriere_plan_optimisees/montagne_hiver.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: 50% 100%;
}

#chapitre3{
    background: url(../img/img_arriere_plan_optimisees/montagne_au_dessus_nuage.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: 50% 100%;
}

#chapitre4{
   /* background: url(../img/img_arriere_plan_optimisees/montagne_arc-en-ciel.jpg) no-repeat 0 0;
    background-size: cover;*/
    background-position: 50% 100%;
}

#chapitre5{
    background: url(../img/img_arriere_plan_optimisees/chute_deau.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: 50% 100%;
}

#chapitre6{
    background: url(../img/img_arriere_plan_optimisees/dessus_eau.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: 50% 100%;
}


#chapitre7{
    background: url(../img/img_arriere_plan_optimisees/sous_eau_bulles2.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: 50% 100%;
}

#chapitre8{
    background: url(../img/img_arriere_plan_optimisees/sous_eau_sol.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: 50% 100%;
}






